*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    list-style: none;
}
main{
    height: 100vh;
    width: 100%;
    background-color: blue;
}
main #box{
    position: relative;
    top: 10%;
    left: 10%;
    height: 90vh;
    width: 80%;
    background-color: black;
}